@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Ubuntu:wght@700&display=swap');

.title_card {
    text-align: center;
    margin: 50px 0 20px;
}

.title_card a{
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #000000;
}


.trace ul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 11px;
    margin-bottom: 45px;
}
.trace li{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #999999;
}

.block-line {
    background-color: #999999;
    width: 24px;
    height: 1px;
}

trace__activ {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #72BF44;
}